html{
    font-family: Helvetica;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

/* Botões */

.btn{
  border-style: none;
  border: 1px solid #707070;
  border-radius: 4px;
  background-color: transparent;
  width: 300px;
  height: 40px;
  cursor: pointer;
  transition: 0.5s;
  position: relative;
}

.btn:hover{
  background-color: #888888;
}

/* Efeito poligono do Header*/

.header {
    position: relative;
    width: 100%;
    height: 399.03px;
  }
  
  .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #707070;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 70%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 70%);
    z-index: -1;
  }

  /* Container do Header */

  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .head{
    text-align: center;
    margin-top: 69px;
    margin-bottom: 60px;
    color: white;
  }
  
  .head h1{
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: bold;
  }

  .head span{
    font-size: 20px;
  }

  .head p{
    font-size: 14px;
  }

  .list{
    display: flex;    
  }

  .list li{
    margin-left: 40px;
  }
  
  .list a{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 6px #00000029;
    border: 1px solid #707070;
    border-radius: 4px;
    opacity: 1;
    padding: 10px 30px;
    color: #888888;
    font-size: 14px;
  }

  /* Mobile 425px */

  @media screen and (max-width: 425px) {
    .list {
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .list li{
      margin-bottom: 30px;
      margin-left: 20px;
      margin-right: 20px;
    }
  
  }

  /* Sessão genérica */

.section{
    width: 100%;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* Conteúdo */

.container-about{
    width: 100%;
    max-width: 900px;
    display: flex;
    justify-content: space-between; 
}

    @media screen and (max-width: 425px) {
      .container-about{
        flex-direction: column;
        padding: 0 20px 0 20px;
    }
    }

.about{
    width: 100%;
    max-width: 520px;
}

    @media screen and (max-width: 425px) {
      .about{
        width: 100%;
        margin-bottom: 20px;
    }
    }

.about h1{
    font-size: 20px;
    color: #888888;
    margin-bottom: 24px;
}

.about p{
    font-size: 12px;
    color: #888888;
    line-height: 18px;
    margin-top: 20px;
    }

/* Formulário de Cadastro */

.form{
      width: 100%;
      max-width: 320px;
  }

.form label{
      font-size: 12px;
      color: #888888;
      margin-bottom: 5px;
  
  }
  
.form input{
      width: 100%;
      max-width: 320px;
      height: 30px;
      margin-top: 5px;
      margin-bottom: 15px;
      border: 1px solid #707070;
  }

      @media screen and (max-width: 425px) {
        .form{
          width: 100%;
          max-width: 420px;
      }
        .form input{
          width: 100%;
          max-width: 420px;
      }
      }

.check{
    display: flex;
    margin: 10px 0;
}

#check{
    width: 14px;
    height: 14px;
    margin: 0 5px;
}

.button{
    width: 100%;
    max-width: 320px;
    height: 39px;
    border: 1px solid #707070 ;
    border-radius: 4px;
    font-size: 16px;
    color: #888888;
    transition: 0.5s;
    cursor: pointer;
}

.button:hover{
  background-color: #888888;
  color: #fff;
}

/* Sessão produtos */

.container-product{
    width: 100%;
    max-width: 900px;
}

.container-product h1{
    font-size: 18px;
    color: #888888;
    text-align: center;
}

.container-product h1::after {
  content: "";
  display: inline-block;
  width: 349px;
  height: 2px;
  background-color: #888888;
  margin-bottom: 4px;
  margin-left: 10px;

}

.container-product h1::before {
  content: "";
  display: inline-block;
  width: 349px;
  height: 2px;
  background-color: #888888;
  margin-bottom: 4px;
  margin-right: 10px;

}

    @media screen and (max-width: 425px) {
      .container-product h1::after {
        width: 90px;
        height: 2px;  
      }
      
      .container-product h1::before {
        width: 90px;
        height: 2px;
      }
    }

.container-card{
  margin-top: 40px;
}

.card{
  margin-bottom: 40px;
  color: #888888;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Card dos produtos */

.card div{
  width: 22%;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.imgCard{
  width: 100%;
  min-width: 100%;
}

.imgCard img{
  width: 100%;
  height: 200px;
}

.contentCard{
  width: 100%;
  min-width: 90%;
}

.contentCard h6{
  font-size: 14px;
  margin-bottom: 10px;
  }

.contentCard p{
  font-size: 12px;
  margin-bottom: 5px;
}

.contentCard span{
  font-size: 16px;
  margin-bottom: 10px;
  }

  @media screen and (max-width: 425px) {
    .card div{
      width: 425px;
      flex-direction:row;
      padding: 0 7.5px;
      padding-bottom: 10px;
    }
    .imgCard{
      width: 100%;
      min-width: 50%;
      margin-right: 5px;
    }

    .contentCard{
      width: 100%;
      min-width: 50%;
      flex-wrap: wrap;
      flex-direction: column;
    }
    .contentCard h6{
      margin-bottom: 5px;
      width: 100%;
      }
    
    .contentCard p{
      margin-bottom: 5px;
      width: 100%;
    }
    
    .contentCard span{
      margin-bottom: 1px;
      width: 100%;
      }
  }

.contentCard a{
  width: 100%;
  height: 30px;
  text-align: center;
  padding-top: 5px;
  border: 1px solid #707070;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.5s;
  }
  
.contentCard a:hover{
  background-color: #707070;
  color: #fff;
    
  }

.container-newsletter{
  width: 100%;
  max-width: 900px;
  display: flex;

  justify-content: center;
  align-items: center;
}

/* Hiden dos Produtos 2 */

.products-2{
  display: none;
  transition: 0.5s;
}

/* Newsletter */

#news-p{
  font-size: 14px;
  color: #888888;
  margin: 40px 0;
  text-align: center;
}

.form-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-center input[type="button"]{
  color: #222020;
  font-size: 16px;
  border-style: none;
  width: 300px;
  height: 30px;
  border-radius: 4px;
  border: 1px solid #888888;
  align-self: center;
  background-color: transparent;
  cursor: pointer;
  transition: 0.5s;
}

.form-center input[type="button"]:hover{
  color: #fff;
  background-color: #888888;
}

.news-form{
  display: flex;
  margin-bottom: 30px;
  justify-content: center;
}

#news{
  margin-left: 20px;
}

#news input{
  width: 350px;
  height: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-style: none;
  border: 1px solid #707070;
}

#news input:focus-within{
border: none;
}

#news label{
  margin-bottom: 5px;
  color: #888888;
  font-size: 12px;
  display: block;
}

#news span{
  display: none;
  color: #862020;
  font-size: 12px;
  }

  @media screen and (max-width: 425px) {
    .news-form{
      flex-direction: column;
    }
    #news input{
      width: 95%;
      height: 30px;
    }
    #news label{
      margin-bottom: 1px;
      margin-top: 20px;
    }
  }

/* Footer */

.footer {
  position: relative;
  width: 100%;
  height: 230px;
}

.bg-footer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #707070;
  -webkit-clip-path: polygon(0 50%, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 50%, 100% 0, 100% 100%, 0 100%);
  z-index: -2;
}

.container-footer{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 425px) {
  .container-footer{
    text-align: center;
  }
}

.container-footer p{
  color:#fff;
  margin-bottom: 5px;
  font-size: 12px;
}